<ng-container *ngIf="show">
  <div class='modalC'>
    <div class='modalC-content'>
      <div class='modalC-header'>
        <h4 class='modalC-title'>Add a new movie</h4>
        <i class="fas fa-times-circle fa-2x close" (click)= "show = false;" ></i>
      </div>
      <div class='modalC-container'>
        <p>Title</p>
        <input type="text" id='title' name='title' #title placeholder="Title" maxlength="50" [ngModel]="changeTitle(title.value)">
        <p>Year</p>
        <input type="number" id='year' placeholder="Year"  oninput="if(value > 9999 || value < 0) value = 0">
        <p>Time</p>
        <input type="number" placeholder="Time"  oninput="if(value > 999 || value < 0) value = 0">
        <p>Language</p>
        <input type="text" placeholder="Language" maxlength="50">
        <p>Release Date</p>
        <input type="date">
        <p>Release Country</p>
        <input type="text" placeholder="Release Country" maxlength="5">
        <div class='modalC-save' (click)= "Add()">Save Changes</div>
        <div class='modalC-cancel' (click)= "show = false;">Cancel</div>
      </div>
    </div>
  </div>
  
</ng-container>
