<!-- <button routerLink='/add' type="button" class="btn btn-dark">Agregar</button>
<hr/> -->
<div class="container-fluid mt-5 ml-1 mr-1">

  <div class="table-responsive">
    <table class="table ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Lenguages</th>
          <th scope="col">Editar</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of readData">

          <th>{{movie.id}}</th>
          <td>{{movie.mov_title}}</td>
          <td>{{movie.mov_year}}</td>
          <td>{{movie.mov_lang}}</td>
          <td>
            <i (click)=" toggleActive()" class='bx bx-dots-vertical-rounded'></i>

            <div *ngIf="toggle" class="toggle-buttons">
              <i class='bx bx-edit-alt'></i>
              <i class='bx bx-trash'></i>
              <i class='bx bx-x' (click)=" toggleActive()"></i>

            </div>



          </td>
        </tr>

      </tbody>
    </table>

  </div>


</div>